android_studio_files/app/res/values/.DS_Store
android_studio_files/app/res/.DS_Store
android_studio_files/app/java/.DS_Store
android_studio_files/app/.DS_Store
android_studio_files/.DS_Store
.DS_Store
